@use "globals";

html,


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev{
    color:  hsl(0, 100%, 50%) !important;
}

.swiper-button-next{
    color: hsl(0, 100%, 50%) !important ;
}

//input check
.inputfoucus{
  &:focus{
    border-color: #86b7fe;
    border-color: var(--bs-form-invalid-border-color);
    box-shadow: 0 0 0 0.25rem rgba(var(--bs-danger-rgb),.25);
    border: #FF0000 solid 1px;
  }
}

.form-check-input:checked {
  background-color: #FF0000;
  border-color: #FF0000;
}

//input 

.my-custom-select {
  align-items: center;
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
  color: #828282;
  background-color: #E0E0E0;
}

.my-custom-select select {
  color: #828282;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  width: 100%;
  border: none;
  outline: none;
  position: relative;
  appearance: none;
}

.my-custom-select label {
  position: absolute;
  right: 1.2rem;
  margin: auto;
  display: flex;
}

.my-custom-select span {
  border-radius: .4rem;
  background-color: #E0E0E0;
}

/* Esto no es necesesario y puede borrarse */
.my-custom-select:focus-within {
    border: red solid 1px;
}