$color-main: #FF0000;
$color-sec: #EEEEEE;
$font-6: 0.625rem;
$fon-5: 0.875rem;

body{
    background-color: #F9F9F9;
}

a{
    color: transparent !important;
}

.bacgroundsecundario{
    background-color: $color-sec;
}

.colorprimary{
    color: $color-main;
}

.bgred{
    background-color: $color-main !important;
}

.justifytext{
    text-align: justify;
}

.fontsmall{
    font-size: $font-6 !important;
}

.fontsnormalsmall{
    font-size: $fon-5;
}
