/*  Google Font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

$color-main: hsl(0, 100%, 50%);
$color-input: #adb5bd;
$color-sec: #EEEEEE;
$bacgraund-main: #F9F9F9;
$color-gris: #787878;
$color-secun-gris: #6F6F6F;
$font-nav: 0.938rem;
$fon-7: 0.75rem;
$font-6: 0.625rem;
$fon-5: 0.875rem;
$fon-4: 1.125rem;
$fon-3: 1.25rem;
$fon-2: 2.375rem;

body {
    font-family: "Roboto", sans-serif !important;
}

.mi-input::-webkit-input-placeholder {
    color: $color-input;
}

.colorinput {
    color: $color-input;
}
.bgwhite{
    background-color: #fff;
}
.bgmain {
    background-color: #F9F9F9;
}

.bgsecundario {
    background-color: $color-sec;
}

.grissecundario {
    color: $color-secun-gris;
}

.grissubtitulos {
    color: $color-gris;
}

a {
    color: transparent !important;
}

.bacgroundsecundario {
    background-color: $color-sec;
}

.colorprimary {
    color: $color-main;
}


.bgred {
    background-color: $color-main !important;
}

.justifytext {
    text-align: justify;
}

.fontsmall {
    font-size: $font-6 !important;
}

.font-medium {
    font-size: $fon-4 !important;
}

.fontsnormalsmall {
    font-size: $fon-5;
}

.fontverysmall {
    font-size: $fon-7;
}

.fontsubtittel{
    font-size: $fon-3;
}

.fontbig{
    font-size: $fon-2;
}

.fontnavsize{
    font-size: $font-nav;
}

.t-fs-g {
    font-size: 4rem;
}

.posicion_body {
    position: absolute;
    top: 90%
}

.borderdashed {
    border: 2px dashed;
    border-color: #dee2e6;
    border-width: 2px;
}

.altodeseparador{
   min-height: 2em; 
}